.title{
	padding-top: 20px;
	font-family: Georgia, Times, 'Times New Roman', serif;
	text-align: center;
	font-weight: bold;
	color:#002db3;
}
li{
	margin:28px;
}
.userDetails{
	padding-left: 20px;
	font-size:25px;
	margin:70px;
	list-style-type: none;
	color:#002db3;
}
.intro{
	display: inline-block;
	width:180px;
	margin-right: 40px;
	text-align: left;
}
.detailimage{
	display: inline-block;
	margin-top: 15px;
	width:150px;
	height: 100px;
	margin-left: 100px;
}
.smallText{
	font-family: Georgia, Times, 'Times New Roman', serif;
	font-size:15px;
}
.deleteaccout{
	position: relative;
	left:30%;
    background-color: #4747d1;
    margin-bottom: 50px;
    border: none;
    color: white;
    width:auto;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
}

.deleteaccout:hover {
    background-color: #e6ecff;
}

#detail{
	margin-left: 100px;
	height: 100px;
	width: 100px;
}
